h1{
    text-align: center;
    
}
body{
    text-shadow: 1px 1px 2px black;
    color: white;
    background-color: grey ;
    
  
}
div{
    margin-top: 40px;
    font-weight: bolder;
    
}
input{
    height: 15px;
}